/*
CSS HEX
--rich-black-fogra-39: #0c0a09ff;
--cobalt-blue: #0244a1ff;
--bluetiful: #0266f2ff;
--dodger-blue: #4894feff;
-- baby-blue-eyes: #adcfff;
--white: #ffffffff;

CSS HSL 
--rich-black-fogra-39: hsla(20, 14%, 4%, 1);
--cobalt-blue: hsla(215, 98%, 32%, 1);
--bluetiful: hsla(215, 98%, 48%, 1);
--dodger-blue: hsla(215, 99%, 64%, 1);
--white: hsla(0, 0%, 100%, 1);
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

/*Note to self: Helvectica New Heavy*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;

}
#root { 
  height: 100%;
  background: #0c0a09;

}
.bghelper {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 79%, rgba(2,102,242,1) 100%);
}

.App {
  height: 100%;
  margin: 0;
}
